@media screen and (max-width:1024px){

    .header {

        padding: 30px;
    }

    .header h1{
    position: relative;
    display:inline-block;
    font-size:16px;

    }


    .header nav ul li {
    position: relative;
    font-size:16px;
    top:-15px;
     }

    .about-me p {
    
    position:relative;
    font-size: 14px;
    
    }

    .my-work ul, li {

    position: relative;
    right:-50px;
    bottom:-20px

    }

    .contact-info p {
        position: relative;
        left:70px;
        font-size: 20px;
    }

    .my-resume p {
        position:relative;
        left: 100px;
    }

    h3 {

    position:relative;
    left:160px;
    
    }


    h4 {
        position: relative;
        left:-20px;
    }

    h5{
        position: relative;
        right:-100px;
    }

    .footer {
        position: relative;
        bottom:-1200px;
    }


}